/* ### Projects */
.projects {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  /* background-color: rgb(46, 46, 46); */
}
.project {
  height: 11.25rem;
  width: 20rem;
  margin: 1.6rem 0;
}

/* Cube */
.project__cube-wrapper {
  width: 100%;
  height: 100%;
  /* border: 2px solid black; */
  /* border-width: 0 2px; */
  /* box-shadow: 10px 10px 54px -6px rgba(0,0,0,0.75); */
  transform: translate(0%, 0%);
}
.project__cube,
.project__cube div {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}
/* .project__cube-front,
.project__cube-top{
  border: 2px solid black;
} */
.project__cube-front,
.project__img {
  max-height: 100%;
  height: auto;
  width: 100%;
  /* If picture dont load- */
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
}
.project__cube-top {
  background-color: white;
  height: 100%;
  width: 100%;
  transform: translate(0, -100%) rotateX(90deg);
  transform-origin: bottom;

  /* background-color: rgb(48, 48, 48); */
  background-color: #222222;
  color: aliceblue;
}
.project__desc {
  height: 85%;
  padding: 1rem 1.3rem;

  overflow-y: hidden;
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */

  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  
  word-spacing: .2rem;
  letter-spacing: .05rem;

  word-break:normal;
  line-break: strict;
  hyphens: auto;

  text-indent: 1rem;
  text-align: start;
  text-align-last: end;
}
.project__links {
  height: 15%;
  text-align: center;
  text-transform: capitalize;
}
.project__link {
  padding: 0.5rem;
}
.project__link-demo {
  color: red;
}
.project__link-github {
  color: aliceblue;
}

.project__cube-wrapper:hover .project__cube {
  transform: translate(0, 50%) rotateX(-90deg);
}
