
/*--------------
    PROJECTS
--------------*/
.projects {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
}
.project {
  height: 11.25rem;
  margin-top: 3.5rem;
  width: 20rem;
}

/* Cube */
.project__cube-wrapper {
  height: 100%;
  transform: translate(0%, 0%);
  width: 100%;
}
.project__cube,
.project__cube div {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.project__cube-front,
.project__cube-top{
  border: 2px solid rgb(228, 228, 228);
}

.project__cube-front,
.project__img {
  height: auto;
  max-height: 100%;
  overflow: hidden;
  width: 100%;
}

/* TOP */
.project__cube-top {
  background-color: #222222;
  color: aliceblue;
  height: 100%;
  transform-origin: bottom;
  transform: translate(0, -100%) rotateX(90deg);
  width: 100%;
}
.project__desc {
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  height: 85%;
  overflow-y: hidden;
  padding: 1rem 1.3rem;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  hyphens: auto;
  letter-spacing: 0.05rem;
  line-break: strict;
  text-align-last: end;
  text-align: start;
  text-indent: 1rem;
  word-break: normal;
  word-spacing: 0.2rem;
}
.project__links {
  height: 15%;
  text-align: center;
  text-transform: uppercase;
}
.project__link {
  padding: 0.5rem;
}
.project__link-demo {
  color: rgb(27, 255, 130);
}
.project__link-github {
  color: aliceblue;
}

.project__cube-wrapper:hover .project__cube {
  transform: translate(0, 50%) rotateX(-90deg);
}

/*---------------
    Media > 540
---------------*/

@media screen and (min-width: 540px) {
  .project {
    margin: 1rem;
  }
}

/*---------------
    Media > 720
---------------*/

@media screen and (min-width: 720px) {
  .project {
    height: 16rem;
    margin: 3rem 1.6rem;
    width: 30rem;
  }
}