/* ### Skills */

.skill{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.skill__name{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  width: 10rem;
  padding: 5px;
  font-size: 1rem;
}
.skill__meter{
  transition: all ease-in-out 1s;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  width: 100%;
}
.skill__value{
  font-size: 1rem;
  padding: 5px;
}
.skill__value::after{
  content: "%";
}
