/*--------------
    MEMORY-CUB
--------------*/
.memory-cub {
  align-items: center;
  display: flex;
  height: 18rem;
  justify-content: center;
  width: 22rem;
}

.m-cub__side,
.memory-cub__container {
  height: 10em;
  transition: width ease-in-out 1s, height ease-in-out 1s;
  width: 10em;
}

.memory-cub__container {
  /* border: 2px dotted white; */
  animation: rotate 15s infinite linear;
  transform-style: preserve-3d;
}
.memory-cub__container:before,
.memory-cub__container:after {
  /* border: 2px dotted white; */
  content: "";
  display: block;
  height: 10em;
  position: absolute;
  width: 10em;
}
.memory-cub__container:before {
  transform: rotateX(90deg);
}
.memory-cub__container:after {
  transform: rotatey(90deg);
}

.m-cub__side {
  align-items: center;
  border: 2px solid white;
  display: flex;
  height: 10em;
  justify-content: center;
  opacity: 0.8;
  overflow: hidden;
  position: absolute;
  width: 10em;
}
.m-cub__side:hover {
  opacity: 1;
}

/* .m-cub__side img {
  height: 100%;
  min-width: 100%;
} */

.m-cub__back {
  /* background-color: orange; */
  background-color: teal;
  background-image: url("./media/g0.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: translateZ(-5em);
}
.m-cub__left {
  background-color: lightgreen;
  background-image: url("./media/ezgif4.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: translateX(-5em) rotateY(90deg);
}
.m-cub__right {
  background-color: yellowgreen;
  background-image: url("./media/ezgif2.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: translateX(5em) rotateY(90deg);
}
.m-cub__top {
  background-color: skyblue;
  background-image: url("./media/ezgif3.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: translateY(-5em) rotateX(90deg);
}
.m-cub__bottom {
  background-color: steelblue;
  background-image: url("./media/ezgif1.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: translateY(5em) rotateX(90deg);
}
.m-cub__front {
  background-color: gold;
  background-image: url("./media/ezgif.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: translateZ(5em);
}

@keyframes rotate {
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

.memory-cub__container:hover .m-cub__side,
.memory-cub__container:hover .memory-cub__container {
  height: 9rem;
  width: 9rem;
}
