
/*--------------
    INDEX
--------------*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  scroll-behavior: smooth;
}
