
/*--------------
    PERSONAL
--------------*/
.skills,
.education {
  background-color: #222222;
  color: aliceblue;
  padding: 3rem;
}
.experience,
.about {
  background-color: rgb(255, 255, 255);
  color: #222222;
  padding: 3rem;
}

.skills__title::before,
.experience__title::before,
.education__title::before,
.about__title::before {
  content: "- ";
  /* position: absolute;
  left: 1.5rem; */
  color: #999999;
}
.skills__title::after,
.experience__title::after,
.education__title::after,
.about__title::after {
  content: " -";
  color: #999999;
}
.skills__title,
.experience__title,
.education__title,
.about__title {
  text-align: center;
  font-size: 2rem;
  padding: 3rem 0;
}

.work-ex,
.education-ex {
  padding: 0.5rem 0;
}

.work-ex__title,
.education-ex__title {
  padding: 0.5rem 0;

  /* overflow-y: hidden; */
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */

  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  
  word-spacing: .2rem;
  letter-spacing: .05rem;
}

.work-ex__sub-title,
.education-ex__sub-title {
  transition: all ease-in-out 1s;
  border-radius: 0 2px 2px 0;
  height: 1rem;
  width: calc(100% - 4rem);
}

.work-ex__current::before {
  content: " - ";
  color: #999999;
}
.work-ex__current {
  font-size: 1rem;
  width: 4rem;
}

.work-ex__text,
.education-ex__text,
.about__text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0.5rem 0;
  font-size: 1rem;
}

/*---------------
    Media > 1140
---------------*/

@media screen and (min-width: 1140px) {
  .personal{
    display: flex;
    flex-wrap: wrap;
  }
  .personal > *{
    width: 50%;
  }
  .experience{
    order: 4;
  }
  .education{
    order: 3;
  }
}